@using API.Models;
@model List<Ticket>

@{
	Layout = "_Layout";
}



<div class="col-md-12">


	<div class="card">
		@*<div class="card-header">
		<h6 class="card-title">Recepción de Documentos</h6>
		</div>*@

		<div class="card-body">

			<div class="row">
				<div class="col-sm-6">
					<label>Tickets</label>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<a button type="button" class="btn btn-sm" style="background-color:#001f3f;color:#ffffff" id="Btn" asp-area="" asp-controller="Tickets" asp-action="Crear">Crear Tickets</a>

					</div>

				</div>

			</div> <!-- Div de Row-->

			<hr style="size:1px">


			<div class="row">

				<table id="tickets" class="display dataTable" style="width:100%">
					<thead>
						<tr>
							<th>IdTicket</th>
							<th>IdEvent</th>
							<th>Code</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var tic in Model)
						{
							<tr>
								<td>@tic.IdTicket</td>
								<td>@tic.IdEvent</td>
								<td>@tic.Code</td>
								<td>@tic.Status</td>

								<td>
									<a button type="button" class="btn btn-success" id="Btn" asp-area="" asp-controller="Users" asp-action="Editar" asp-route-id="@tic.IdTicket">Editar Tickets</a>
									<a button type="button" class="btn btn-danger" id="Btn" asp-area="" asp-controller="Users" asp-action="Eliminar" asp-route-id="@tic.IdTicket">Eliminar Tickets</a>

								</td>
							</tr>
						}
					</tbody>
				</table>
			</div> <!-- Div de Row-->
			<hr style="size:1px">
		</div>
	</div>
</div>




@* }
else
{
<p>No hay tickets disponibles.</p>
} *@