@using Ticket.Web.Models
@model IEnumerable<Ticket.Web.Models.Event>


<h1>Lista de Eventos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Categoría</th>
            <th>Organizador</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Capacidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEventCategory</td>
                <td>@item.IdOrganizer</td>
                <td>@item.Description</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Location</td>
                <td>@item.Capacity</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
